html {
  background-image: url("loveDogs.jpg");
    background-size: cover;
    background-attachment: fixed;
    border-radius: 60px;
    background-color:plum;
}

h1 {
    font-size: 40px;
    font-weight: lighter;
    display: inline-block;
    color: black;




}
p {
   font-family: serif;
    display: block;
    margin: auto;
    font-size: 20px;
    font-weight: 500;


}
body {
    margin: 70px;
    align-content: center;
}

table,th,tr,td{
    border-radius: 5px;
    border-width: thick;
    width: 60%;
    background-color: dodgerblue;
    border-color: gray;
}
#clocktower{
  position: relative;
    left: -1px;
    float: right;
    padding-right: 2em;
      border-radius: 40px;

}
#timeballtower{
    position: relative;
    right: 20px;
     float: left;
    border-radius: 40px;



}
#robindrydock {
  position: relative;
    left: -1px;
    float: right;
    padding-right: 2em;
     border-radius: 40px;
}
#dubai{
    position: relative;

    border-radius: 30px;
}
#details{
    position: relative;
    left:250px;
    float: right;
    border-radius: 50px;
    bottom: 120px;

}
.container{
    margin: 60px;
    padding: 1em;
    background-size: cover;


}

ul{
 font-weight: lighter;
    font-size: 20px;
     align-items: flex-end;

}
hr{
    clear: both;
    visibility: hidden;
}
h5{
    display: block;
    font-weight: lighter;
    font-size: 20px;
}
