html {
    
    background-size: cover;
    border-radius: 60px;
    background-color:plum;
}

h1 {
    font-size: 40px;
    font-weight: lighter;
    display: inline-block;
    color: aquamarine
   

        
   
}
p {
   font-family: serif;
    display: block;
    margin: auto;
    font-size: 20px;
    font-weight: 500;
    
    
}
body {
    margin: 70px;
    align-content: center;
}

table,th,tr,td{ 
    border-radius: 5px;
    border-width: thick;
    width: 60%;
    background-color: dodgerblue;
    border-color: gray;
}
#clocktower{
  position: relative;
    left: -1px;
    float: right;
    padding-right: 2em;
      border-radius: 60px;
    
}
#timeballtower{
    position: relative;
    right: 20px;
     float: left;
    border-radius: 60px;

    
    
}
#robindrydock {
  position: relative;
    left: -1px;
    float: right;
    padding-right: 2em;
     border-radius: 60px;
}
#dubai{
    position: relative;
    
    border-radius: 40px;
}
#details{
    position: relative;
    left:250px;
    float: right;
    border-radius: 50px;
    bottom: 120px;

}
.container{
    margin: 60px;
    padding: 1em;
     background-image: url(http://2.bp.blogspot.com/_JyEqAjSxEn0/TDzgTsjhxII/AAAAAAAAB7A/Wj4pv8y9XsU/s1600/Edit_Water_Drops_0082.JPG);
    background-size: cover;
    border-radius: 60px;
        
}

ul{
 font-weight: lighter;
    font-size: 20px;
     align-items: flex-end;
    
}
hr{
    clear: both;
    visibility: hidden;
}
h5{
    display: block;
    font-weight: lighter;
    font-size: 20px;
}